* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(245,253,254);
}

h1 {
    padding: 2vw;
}

button, input {
    font-size: 1.2em;
}

li {
    margin-bottom: 1em;
}
