*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'header header header header header header'
        'canvas canvas canvas canvas controls controls';
    background-image: url(../images/body-bg.jpg);
    background-size:cover;
}

/* Keeps both canvases on the same spot */
header {
    grid-area: header;
    background-image: url(../images/jelly-bg.png);
    background-size: contain;
    padding:45px;
    font-family: 'MrsBeasleyRegular';
    font-weight: bold;
    font-size: 2vw;
    color:darkblue;
}

p{
    font-family: "SnigletRegular";
    font-weight: normal;
    font-size: 30px
}

#sandbox canvas {
    grid-area: canvas;
    border: solid 2px red;
}

#controls {  
    grid-area: controls;
    border: solid 5px red;
    font-size: 3em;
    padding:20px;
    margin-right: 30px;
}
.slider{
    height: 2vh;
    width: 12vw;
    margin-bottom:5vh;
}
#instructions{
    font-size: 6vh;
}
#authorText{
    padding-top: 2vh;
    font-size: 2.8vh;
}
#dew{
    display: none;
}